@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

@layer base {
  :root {
    --main: #028a8a;
    --main2: #1a5555;
    --body-bg: #0d1117;
    --body-bg2: #1b1f2a;
    --white-text: #c6d2e0;
    --white-text2: #eef6fe;
  }
}

/* Heading Font */
.font-heading {
  font-family: "Protest Revolution";
}

/* Helpers */

@layer {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

/* Globals */

img {
  user-select: none;
}

::selection {
  background-color: var(--main);
  color: var(--white-text2);
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-text);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--white-text2);
}

/* Hover Background to an Element */

.bg-hover {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.bg-hover::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}
.bg-hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bg-hover2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.bg-hover2::before,
.bg-hover2::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0;
  background-color: var(--main);
  z-index: -4;
  transition: 0.5s;
}
.bg-hover2::before {
  top: 0;
  left: 0;
}
.bg-hover2::after {
  bottom: 0;
  right: 0;
}
.bg-hover2:hover::before,
.bg-hover2:hover::after {
  width: 100%;
  opacity: 0.1;
}
